@import "../../variables.scss";

.home {
  display: flex;
  flex: 1;
  flex-direction: column;

  .overlay {
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;

    .panel {
      position:  absolute;
      left: 10px;
      right: 10px;
      max-width: 480px;
      margin: 10px auto;
      background-color: #fff;
      padding: 10px 10px 5px;
    }
  }

  .buttons {
    display: flex;

      .button {
          flex: 1;
          margin-top: 10px;

          &:first-child {
              margin-right: 10px;
          }
      }
  }

  .button {
    margin: 5px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
