@import "../../variables.scss";

.button {
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    background-color: $primary-color;
    color: $secondary-text-color;
    height: 25px;
    line-height: 30px;
    margin: 5px 0;
    box-shadow: $box-shadow-1;
    text-align: center;

    &.selected {
        background-color: darken($primary-color-dark, 10%);
    }

    &.disabled {
        background-color: lighten($primary-color-dark, 30%);
        color: #eee;
    }

    &:not(.disabled):hover {
        background-color: darken($primary-color-dark, 20%);
    }
}