@import "./variables.scss";

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: $primary-text-color;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.flex-pad {
  flex: 1;
}