@import "./variables.scss";

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: $background-color;
}

#root {
  display: flex;
}

.flex-pad {
  flex: 1;
}

.panel {
  background-color: #fff;
  padding: 0 5px;
  margin: 5px 0;
  box-shadow: $box-shadow-1;
}