@import "../../../variables.scss";

.lobby {
    flex: 1;

    &-players {
        text-align: left;
        padding: 10px;
        background-color: #fff;
        margin: 10px 0;
        box-shadow: $box-shadow-1;
        display: flex;

        fieldset {
            flex: 1;
            border: 1px dashed #ccc;
            color: $primary-text-color;
        }

        .player {
            margin: 5px 0;
            &.ready {
                color: #9bc53d;
            }

            &.not-ready {
                color: #d63230;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}