.showcase {
    flex: 1;

    .panel {
        padding: 10px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            flex: 1;
        }
    }

    .separator {
        text-transform: uppercase;
        color: #999;
        font-size: 12px;
        padding: 10px;
    }

    .book {
        padding: 10px 0;
    }
}